* {
  margin: 0;
  padding: 0;
}
img{
    max-width: 100%;
}
body{
  height: auto;
}

/* header part styles */
.header-wrapper{
  background-color: black;
  
}

.header-wrapper ul{
  display: flex;
  justify-content: space-between;
  list-style:none;
}
.internal-wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 5px 10px;


}
.links ul li a{
  color: #f9f9f9;
  text-decoration: none;
  font-size:12px;
  opacity: 0.8;
}
.links ul li a:hover{
  opacity: 1;
}
.links ul li a img{
  width: 14px;
}
.links .appple-logo{
  padding:  0 8px;
}
.links .search-icon{
  padding:  0px 9px ;
}
.links .cart-icon {
  padding:  0 8px;
} 


/* same for all styles*/
.title {
  font-weight: 600;
  font-size: 56px;
}

.caption-wrapper {
  font-size: 23px;
  padding: 10px 0;
}

.caption-wrapper span {
  color: #86868b;
  font-size: 0.55em;
}
.links-wrapper ul{
  list-style: none;
}
.links-wrapper {
  padding: 15px 0;
}
.links-wrapper ul li a{
  color: #06c;
  text-decoration: none;
}
.links-wrapper ul li{
   display: inline-block;
   padding-right: 20px;
}
.links-wrapper ul li a:hover{
  color: black;
}
.links-wrapper ul li a:after{
  font-family: 'fontAwesome';
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;

}

/* section1 style */

.section1-wrapper {
  background-image: url("../images/home/macbook-pro.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: initial;
  background-color: hsla(0, 0%, 98%, 0.635);
  background-position: bottom;
  text-align: center;
  padding: 25px 0 ;

}

.model {
  font-size: .85em;
  padding-bottom: 10px;
}

.mac-description {
  font-size: 28px;
}
/*  Section2 style */
.section2-wrapper {
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 55px 20px;
  color: #fff;
}



/*Section3 styles */
.section3-wrapper {
  background-image: url("../images/home/iphone11-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
}

/* Section4 styles */
.section4-wrapper {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.left-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  padding-top: 54px;
}

.section4-wrapper .left-side-wrapper {
  background-image: url("../images/home/watch-series-5.jpg");
}

.right-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 1% 0% 0.5%;
  padding-top: 54px;
}

.section4-wrapper .right-side-wrapper {
  background-image: url("../images/home/apple-card.jpg");
}

.caption-wrapper {
  max-width: 430px;
  margin: 0 auto;
  padding: 10px;
}

/*section5 Section */
.section5-wrapper {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.section5-wrapper .left-side-wrapper {
  background-image: url("../images/home/apple-tv-background.jpg");
}

.section5-wrapper .right-side-wrapper {
  background-image: url("../images/home/air-pods.jpg");
  color: #fff;
  background-size: initial;
  background-color: #000;
  background-position: bottom;
}

.logo-wrapper {
  font-size: 40px;
  font-weight: bold;
}

.tvshow-logo-wraper {
  padding: 180px 0 200px;
}

.watch-more-wrapper a {
  text-decoration: none;
  font-size: 0.85em;
}

.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}

/*section6 Section */
.section6-wrapper {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.section6-wrapper .left-side-wrapper {
  background-image: url("../images/home/macbook-pro.jpg");
  background-size: initial;
  background-color: #fafafa;
  background-position: bottom;
}

.section6-wrapper .right-side-wrapper {
  background-image: url("../images/home/new-ipad.jpg");
}

.title-small {
  font-weight: 700;
  font-size: 45px;
}


/* Footer Styling */ 
.footer-wrapper {
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-size: .65em;
}

.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  color: #86868b;
  padding: 17px 0 20px;
}

.upper-text-container a {
  text-decoration: none;
  color: #515154;
}

.upper-text-container a:hover {
  text-decoration: underline;
}

.footer-links-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer-wrapper ul {
  list-style: none;
  padding-bottom: 20px;
}

.footer-wrapper ul li {
  padding: 5px 0;
  font-size: 0.9em;
}

.footer-links-wrapper a {
  color: #515154;
  text-decoration: none;
}

.footer-links-wrapper a:hover {
  text-decoration: underline;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
}

.my-apple-wrapper {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.copyright-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px;
}

.footer-links-terms ul li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}

.footer-links-terms ul li:last-child {
  border-right: 0px;
}

.footer-links-terms ul li a {
  text-decoration: none;
  color: #515154;
}

.footer-links-terms ul li a:hover {
  text-decoration: underline;
}

.footer-country {
  display: inline-block;
}

.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.footer-country-name {
  display: inline-block;
  vertical-align: top;
}