*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.puppies{
    background-color: #195774;
    text-align: center;
    padding-block: 20px 14px;
    color: white;
    font-size: 28px;
}
.banner-puppies-image img{
    width: 100%;

}
.inline-puppies, .last-pappies-wrapper{
    display: flex;
    justify-content: space-between;
   
    
}
.missing-puppy{
    background-color:#cc414c ;
    font-size:46px;
    text-align: center;
    width: 310px;
    height: 310px;

}
.missing-puppy p{
    padding: 45px;
}

.more-puppies-text {
    text-align: center;
    margin-block:40px ;
    font-weight: bold;
    font-size: 25px;
}
.puppies-wrapper{
     width: 960px;
    
    margin: 70px auto;
}
.footer{
    font-size: 23px;
    padding-block: 40px 60px;
}
